<nav>
  <ul>
    <li><a href="#">不</a></li>
    <li><a href="#">加上</a></li>
    <li><a href="#">一个</a></li>
    <li><a href="#">导航</a></li>
    <li><a href="#">么！？</a></li>
  </ul>

   <!-- A Search form is another commmon non-linear way to navigate through a website. -->

   <form>
     <input type="search" name="q" placeholder="侵犯！乌贼娘">
     <input type="submit" value="搜一搜">
   </form>
</nav>